body {
  font-family: Trebuchet, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

label {
  font-weight: normal;
}

#page-header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: #9f9f9f;
  z-index: 100;
  border-bottom: 2px solid black;
}

#page-content {
  margin-top: 105px;
}

#page-content>div {
  margin-right: auto;
  margin-left: auto;
}

text {
  font-family: Georgia;
  color: black;
  font-size: 18px;
}

/*tooltip styles*/

/*these styles come from: https://github.com/Caged/d3-tip*/
.d3-tip {
  z-index: 101;
  line-height: 1;
  width: 400px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  border-radius: 25px;
  color: #000;
  text-align: center;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Northward tooltips */
.d3-tip.n:after {
/*content: "\25BC";*/
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Southward tooltips */
.d3-tip.s:after {
/*content: "\25B2";*/
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Westward tooltips */
.d3-tip.w:after {
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* helper tooltip adapted from: http://www.davidjrush.com/blog/2011/12/simple-jquery-tooltip/ */
span.question {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #223373;
  line-height: 18px;
  color: White;
  font-size: 13px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

span.question-selected {
  background-color: #3D6199;
}

.footer {
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #4f4f4f;
}

.footer a {
  color: #4f4f4f;
}

.row-cont {
  width: 1105px;
  padding-top: 15px;
  text-align: center;
}

.row-cont>div {
  display: inline-block;
  vertical-align: top;
}


#map {
  width: 700px;
  height: 500px;
}

#info {
  width: 400px;
  text-align: left;
}

.no-display {
  display: none !important;
}

svg {
  pointer-events: none;
}

/* Outline of map and ocean color*/
.outline {
  fill: #9ecae1;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: all;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* Country interiors (for fill) and borders (for stroke)*/
.land {
  fill: #238b45;
  stroke: #000;
}

/* Country borders */
.mesh {
  stroke: #222222;
  stroke-width: .5px;
  fill: none;
}

/* Lat-Long lines */
.graticule {
  fill: none;
  stroke: #000000;
  stroke-opacity: .4;
  stroke-width: .5px;
}

/* Points of interest */
.poi {
  fill: #ff0000;
  stroke: #000000;
  stroke-width: 1px;
  cursor: pointer;
  pointer-events: all;
}

.more-info-text {
  margin-top: 5px;
}

#info .place {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

#info .image {
  width: 350px;
  margin: 10px auto;
  text-align: center;
}

#info .image img {
  height: 150px;
}

#info .more-info {
  margin-top: 20px;
  font-size: 15px;
}